[data-testid=metric-container] {
    box-shadow: 0 0 3px #cccccc;
    padding: 10px;
}

.plot-container>div {
    box-shadow: 0 0 3px #cccccc;
}

div.stButton > button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 130px;
    height: 52px;
}


div[data-baseweb="input"] > div {
    height:52px;
}


div[data-baseweb="select"] > div {
    height:52px;
}

.appview-container .main .block-container{{
    padding:2rem 1rem 1rem;
}}


div[data-testid="stMarkdownContainer"] > hr {
    margin:0
}

